<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AcMissionsApp</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AcMissionsApp.styles.css" asp-append-version="true" />
</head>
<body>

    
    <header class="ac-header">
        <img src="~/images/Blue Minimalist Creative Name Logo.png" alt="Logo AC" class="ac-logo" />
        <h1>Assassin's Creed – Mission Manager</h1>
    </header>

    
    <nav>
        <a href="/Mission/All">Missions</a>
        <a href="/Mission/Ajout">Créer une mission</a>
        <a href="/Faction/All">Factions</a>
    </nav>

    
    <div class="page-content">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    
    <footer class="footer-ac">
        <p>&copy; 2026 - AcMissionsApp</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>






