# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache
.vs/

# Logs
*.log

# IIS Express
/.vs/config/applicationhost.config

# NuGet
*.nupkg
packages/
*.snupkg

# Publish output
publish/
wwwroot/lib/

# Rider / JetBrains
.idea/

# OS files
Thumbs.db
.DS_Store
